@charset "ISO-8859-1";

@media only screen and (max-width: 400px){
	body{
		background: red;
	}
	.images{
		width: 20px;
		height: auto;
	}
	.ui-fieldset-legend{
		font-size: 10px;
	}
	
}

@media only screen and (min-width: 401px ) and (max-width: 950px){
	body{
		background: blue;
	}
	.images{
		width: 60px;
		height: auto;
	}
	
}
body{
	background-color:LightGray;
}
.page{
	margin-top: 13%;
	width: 50%;
}

.formInputs{
	width: 60%;
	margin: auto;
	margin-bottom: 3%;
}


.ui-fieldset .ui-fieldset-legend{
	width: 30%;
	height: 35px;
	font-size: 12px;
}

.info{
	list-style: none;
	margin-top: 5px;
	font-size: 13px;
}

.info_2{
	margin-top: 5px;
	margin-bottom: 2%;
}

.images{
	margin: auto;
	width: 60px;
	height: 60px;
}

.opt1{
	margin-left: 10%
}
.opt2{
	margin-left: 40%;
}

.links{
	/*border: 1px black solid;*/
	float: left;
}

.linkText{
	margin: auto;
	font-size: 12px;
}

.filterExtracts{
	margin-top: 10%;
}

.ui-dialog-footer{
	padding: 10%;
}

.assumptions{
	list-style: none;
}